body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #6e00ff, #3e99ff);
}

.card {
    width: 140%;
    
    max-width: 400px;
    background-color: #222;
    border-radius: 30px;
    padding: 20px;
    color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.forgot-password {
    text-align: center;
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #222;
    cursor: pointer;
    font-weight: bold;
}

.login-button:hover {
    background-color: #f0f0f0;
}

.signup-link {
    text-align: center;
}
